.first-color {
  background: #081f37;
}

.second-color {
  background: #5fc9f3;
}

.third-color {
  background: #2e79ba;
}

.fourth-color {
  background: #1e549f;
}
html {
  font-family: "Times New Roman", Times, serif;
}

body {
  margin: 0;
}

.header {
  height: 50px;
  width: auto;
  background: #1f2937;
  margin: 0;
  display: flex;
  padding: 20px;
  padding-bottom: 60px;
}

.left-header {
  flex: 2 0 0;
  display: flex;
  justify-content: flex-start;
}

.right-header {
  flex: 1 0 0;
  color: wheat;
  font-weight: 450;
  font-size: x-large;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.left-header img {
  box-shadow: 0 0 20px gray;
  margin-left: 50px;
  border-radius: 25px;
}

.gallery {
  width: auto;
  height: 200px;
  background: #1f2937;
  display: flex;
  padding: 50px;
  align-items: center;
}

.gal-cap {
  width: auto;
  height: 150px;
  flex: 1 0 0;
  color: rgba(245, 222, 179, 1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.gal-cap h1 {
  font-size: 50px;
  margin: 10px 10px;
}

.gal-cap p {
  margin: 10px 10px;
}

.gal-pic {
  width: auto;
  height: 150px;
  flex: 1 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gal-pic img {
  box-shadow: 0 0 20px lightblue;
  max-width: 30%;
  border-radius: 25px;
  flex: 1 0 0;
}
